.cover__subtitle {
    margin: 0;
    display: block;
    max-width: 382px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}