.header__ilustration {
    margin: 0;

    width: 100%;
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
}
/* игнорирование отступов с двух сторон */
@media screen and (max-width: 1279px) {
    .header__ilustration {
        max-width: calc(100% + (24px * 2));
    }
}
