.place {

    margin: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(69, 134) 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-areas:
        'title url'
        'image paragraph';
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: minmax(69, 134) 1fr;
        grid-template-areas:
            'title'
            'url'
            'image'
            'paragraph';
    }
}